---
# Front matter required for Jekyll to process SCSS
---

/* Basics */
body {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

/* Target Size (Minimum 24x24px) */
a, button, input {
  min-height: 24px;
  min-width: 24px;
  display: inline-block;
}

/* Links must have underline by default for accessibility */
a, nav li :where(a, [role=link]):not(:hover)  {
  color: #0055B7;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: bold;
}

a:hover {
  color: #0f4584;
}

/* Hide the link visually, but accessible to screen readers */
.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background: #fff;
    padding: 8px;
    z-index: 100;
    transition: top 0.2s ease;
}
/* Bring the link into view when it gains focus via Tab key */
.skip-link:focus {
    top: 5px;
    left: 5px;
    text-decoration: none;
    font-weight: bold;
}
